In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
# Create the connection engine
engine = create_engine("sqlite:///DataSets/belly_button_biodiversity.sqlite")

In [3]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [41]:
# Assign the dow class to a variable called `Dow`
otu = Base.classes.otu

In [42]:
# Assign the dow class to a variable called `Dow`
samples = Base.classes.samples

In [43]:
# Assign the dow class to a variable called `Dow`
samples_metadata = Base.classes.samples_metadata

In [44]:
# Create a session
session = Session(engine)

In [45]:
# /names
for row in session.query(samples.otu_id).limit(15):
    print(row)

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)

In [29]:
# '/otu'
for row in session.query(otu.lowest_taxonomic_unit_found).limit(15):
    print(row)

('Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus',)
('Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus',)
('Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Natronorubrum',)
('Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter',)
('Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter',)
('Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter',)
('Bacteria',)
('Bacteria',)
('Bacteria',)
('Bacteria',)
('Bacteria',)
('Bacteria',)
('Bacteria',)
('Bacteria',)
('Bacteria',)

In [46]:
#/metadata/<sample>')
sample_id = "940"
for row in session.query(samples_metadata).filter_by(SAMPLEID = sample_id).limit(15):
    print(row)

<sqlalchemy.ext.automap.samples_metadata object at 0x10d9b17f0>

In [51]:
#/wfreq/<sample>'
sample_id = "940"
for row in session.query(samples_metadata.WFREQ).filter_by(SAMPLEID = sample_id).limit(15):
    print(row)

(2,)

In [28]:
#/samples/<sample>
sample_id = "940"
for row in session.query(samples).filter_by(SAMPLEID = sample_id).limit(15):
    print(row)

<sqlalchemy.ext.automap.samples_metadata object at 0x10d988cf8>